/* google font */
body {
  font-family: 'Montserrat', sans-serif;
}
/* /google font */

/* mix */
.mrg_auto {
  margin: auto;
}

ul {
  margin-bottom: 0;
}

/* padding e margin*/
.padd_70{
  padding-top: 70px;
  padding-bottom: 70px;
}

.padd_50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padd_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mrg_top_20 {
  margin-top: 20px;
}
/* /padding e margin*/
/* /mix */

/* typo */
.text_blue {
  color: #2c3e50;
}

.text_white {
  color: white;
}

.text_up {
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
}

h1 {
  font-weight: bolder;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  padding-top: 10px;
}
/* /typo */


/* backgrounds */
.bg_primary {
  background-color: #2c3e50;
}

.bg_white {
  background-color: white;
}

.bg_dark_primary {
  background-color: #1a252f;
}

.bg_secondary {
  background-color: #1abc9c;
}
/* /backgrounds */

/* header */
/* main_nav */
#main_nav {
  line-height: 100px;
  position: relative;
}

#main_nav ul {
  list-style: none;
  padding-left: 0;
}

#main_nav li {
  display: inline-block;
  vertical-align: middle;
}

#main_nav a {
  display: block;
  color: white;
  text-decoration: none;
}

.nav_left {
  font-size: 27px;
  font-weight: bold;
}

.nav_right {
  font-size: 16px;
  font-weight: bold;
}
.nav_right li {
  padding: 0 20px;
}

/* hover sui link della main_nav */
#main_nav .nav_right a:hover {
  color: #117964;
}
/* /hover sui link della main_nav */

/* hamburgher menu */
.ham_menu {
  display: none;
}

.ham_menu span {
  font-weight: bold;
}
/* /hamburgher menu */
/* /main_nav */

/* jumbotron */
.jumbotron img {
  height: 255px;
  width: 240px;
}

/* separatore */
.line_sep {
  display: inline-block;
  vertical-align: middle;
  height: 4px;
  max-width: 120px;
  width: 32%;
  border-radius: 2px;
  margin: 0 15px;
}

.star_sep {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}
/* /separatore */
/* /jumbotron */
/* /header */

/* main */
/* sezione portfolio */
#portfolio img {
  width: 100%;
}

/* overlay */
.overlay_container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.overlay_container:hover .overlay{
  opacity: 1;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 188, 156, 0.9);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.overlay i {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* /overlay */

.font_norm {
  font-size: 16px;
  font-weight: 500;
}
/* /sezione portfolio */

/* sezione about */
.empty_btn_white {
  background-color: inherit;
  border: 2px solid white;
  color: white;
  padding: 20px;
}

.empty_btn_white span {
  font-weight: normal;
  padding-left: 10px;
}
/* /sezione about */

/* sezione contact */
#contact input, #contact textarea {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid lightgrey;
  font-size: 25px;
  padding: 30px 0;
  letter-spacing: -1px;
  font-weight: normal;
  outline: none;
}

#contact .btn_full {
  padding: 20px 30px;
  color: white;
  font-weight: normal;
}

#contact .btn_full:hover {
  background-color: #117964;
  border: 1px solid #117964;
}
/* /sezione contact */
/* /main */

/* footer */
/* sezione indirizzo e social */
#address .social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 5px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
}

#address .social a:hover {
  background-color: white;
  color: black;
}

footer h3 {
  font-weight: bold;
  margin-bottom: 25px;
}

#address p {
  font-size: 18px;
  padding: 0 12px;
}

#address .freelance a {
  font-size: 18px;
  font-weight: normal;
  color: #1abc9c;
}

#address .freelance a:hover {
  color: #117964;
}
/* /sezione indirizzo e social */

/* sezione copyright */
#copyright p {
  margin: 0;
  padding: 30px 0;
}
/* /sezione copyright */
/* /footer */


/* responsive */
@media screen and (max-width: 992px) {

  h2 {
    font-size: 38px;
  }

  h4, .font_norm {
    font-size: 18px;
  }

  /* main-nav */
  #main_nav {
    line-height: 60px;
  }

  .nav_right {
    display: none;
  }

  .nav_left {
    font-size: 19px;
  }

  .ham_menu {
    display: block;
  }

  #main_nav .ham_menu a {
    display: inline-block;
    line-height: 30px;
    max-width: 90px;
    padding: 8px;
    border-radius: 7px;
  }
  /* /main-nav */

  /* overlay_container */
  .overlay_container {
    max-width: 345px;
    margin: auto;
  }
  /* /overlay_container */


  /* footer */
  #address p, #address .social {
    margin-bottom: 30px;
  }
  /* /footer */

}
